html {
	cursor: url("images/Cursor_Orange.png");
}

li {
	list-style-type:square;
 	list-style-position:inside;
 	list-style-image:url("images/Orange-Bullets.png");
 	font-family: 'Open Sans', sans-serif;
}

body {
	background-color: #e0e0e0;
	font-family: 'Open Sans', sans-serif;
}

label {
	font-family: 'Open Sans', sans-serif;
	padding-top: : 10px;
}

a {
	color: #e8a404;
	padding-bottom: 20p;
}

p {
	padding: 10px 0px 10px 0px;
}

h2 {
	color: white;
	font-family: 'Exo 2', sans-serif;
	font-size: 25px;
	font-weight: bold;
	background-color:rgba(244, 171, 0, 0.9);
	margin-top: 300px; 
	margin-right:-15px;
	margin-left: -20px;
	line-height: 35px;
	padding: 0px 15px 0px 20px;
	padding-left: 50px;
}

h3.our-names {
	text-align: center;
	font-family: 'Exo 2', sans-serif;
	font-size: 25px;
	color: #424242;
	padding-bottom: 10px;
}

h4 {
	text-align: center;
	font-size: 25px;
	padding: 30px 20px 30px 20px;
	color: rgb(244, 171, 0);
	font-weight: bold;
	font-family: 'Exo 2', sans-serif;
}

h5 {
	padding-top: 20px;
	color: #424242;
	font-size: 15px;
}

h6 {
	text-align: center;
	font-size: 55px;
	padding: 30px 20px 30px 20px;
	color: rgb(244, 171, 0);
	font-weight: bold;
	font-family: 'Exo 2', sans-serif;	
}

nav {
	color: #ffb300;
	font-size: 15px;
	font-family: 'Exo 2', sans-serif;

}

.typewriter {
	min-height: 340px;
	width:100%;
	background-image: url("images/typewriter_retro.jpg");
	background-size: cover;
	background-attachment: fixed;
}

.new-class {
	font-family: 'Open Sans', sans-serif;
	padding: 10px 80px 10px 80px;
	text-align: center; 
}

.img-responsive {
	border: 10px solid #e0e0e0;
}

.highlight {
    background-color: #ffb300;
    font-weight: bold;
    padding: 2px 0px 2px 3px;
    box-shadow: 0px 0px 1px 1px #ffb300;
}

.btn {
	font-weight: bold;
	color: black;
	background-color: #ffb300;
}

.filters {
 	font-family: 'Open Sans', sans-serif;	
}

.facebook {
	border:0px;
	width:30px;
	height:30px;
}

.instagram {
	border:0px;
	width:30px;
	height:30px;
}

.twitter {
	border:0px;
	width:30px;
	height:30px;
}

img {
	max-height: 400px;
	max-width: 400px;
}

input [type=text], [type=email] {
	min-width: 250px;
}

textarea {
	min-width: 250px;
}

iframe {
	border: 8px solid #ffb300;
	border-radius: 10px;
}

#gif {
	padding: 10px 10px 10px 10px;
	display: block;
    margin: 0 auto;
}

.contact {
	padding: 2% 2% 2% 2%;
}

.filters {
	background-color:#e0e0e0;
	padding: 10px 20px 20px 20px;
	box-shadow: 0px 0px 1px 1px #e0e0e0;
}

.twitter-share-button {
	border: 0px;
}

#groups {
	padding-bottom: 5%;
}
