body {
	background-color: #e0e0e0;
	font-family: 'Exo 2', sans-serif;
}
h2 {
	color: white;
	font-family: 'Exo 2', sans-serif;
	font-size: 25px;
	font-weight: bold;
	background-color:rgba(244, 171, 0, 0.9);
	margin: 300px -50px 0px -20px;
	line-height: 50px;
	padding: 0px 50px 0px 20px;
	box-sizing: border-box;
	padding-left: 118px;
}

.typewriter {
	min-height: 325px;
	width:100%;
	background-image: url("images/typewriter_retro.jpg");
	background-size: cover;
	background-attachment: fixed;
}

#about {
	background-image: url("images/Infographics_SheffTechWomen.png");
}

.highlight {
    background-color: #ffb300;
    font-weight: bold;
}

