body {
	background-color: #e0e0e0;
}
h2 {
	color: #ffb300;
}
.typewriter {
	min-height: 200px;
	background-image: url("images/typewriter_retro.jpg");
	background-size: cover;
	background-attachment: fixed;
}

